<a href="https://colab.research.google.com/github/boonecabaldev/pandas_exercises/blob/main/My_Pandas_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Pandas Experiments

## Selecting

In [14]:
import pandas as pd

data = {'FirstName': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank'],
        'LastName': ['Smith', 'Jones', 'Williams', 'Brown', 'Davis', 'Miller'],
        'Age': [25, 32, 28, 41, 29, 35],
        'Gender': ['female', 'male', 'male', 'male', 'female', 'male']}

df = pd.DataFrame(data)
df = df[ df['FirstName'] == 'Alice']
print(f"{df.to_markdown()}")

prefix = df.apply(lambda x: "Mr." if x['Gender'] == 'male' else 'Ms.', axis=1)
df['Title'] = prefix + " " + df['FirstName'] + " " + df['LastName']
print(f"\n{df.to_markdown()}")

|    | FirstName   | LastName   |   Age | Gender   |
|---:|:------------|:-----------|------:|:---------|
|  0 | Alice       | Smith      |    25 | female   |

|    | FirstName   | LastName   |   Age | Gender   | Title           |
|---:|:------------|:-----------|------:|:---------|:----------------|
|  0 | Alice       | Smith      |    25 | female   | Ms. Alice Smith |

## `loc()`

In [21]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['row1', 'row2', 'row3'])
print(f"{df.to_markdown()}")

# Select row with label 'row2'
print("\nSelect row with label 'row2'")
print(f"{df.loc['row2']}")

# Select rows with labels 'row1' and 'row3' and column 'B'
print("\nSelect rows with labels 'row1' and 'row3' and column 'B'")
print(f"{df.loc[['row1', 'row3'], 'B']}")

|      |   A |   B |
|:-----|----:|----:|
| row1 |   1 |   4 |
| row2 |   2 |   5 |
| row3 |   3 |   6 |

Select row with label 'row2'
A    2
B    5
Name: row2, dtype: int64

Select rows with labels 'row1' and 'row3' and column 'B'
row1    4
row3    6
Name: B, dtype: int64